<li class="product">
	<div class="product-image"><img src="{photo}" /></div>

	
	<h3>{name}</h3>
	<span class="label label-info">{brand}</span>  <em>{category}</em><br/>
	<span class="price">{price} Ft</span><br/>
</li>