 <div class="row">
        <h2><span style="color:#666; font-size: x-large;"><span class="glyphicon glyphicon-search" aria-hidden="true"  style="font-size: large;"></span>{id}</span> {str} <span class="label label-{label} pull-right">{type}</span></h2>
		<hr/>
		<ul>
			{products}
		</ul>
</div>