li.product{
	width:258px;
}

div.product-image{
	width:256px;
	height:256px;
	padding: 1px;
	border:1px solid #eee;
}
div.product-image img{
	max-width:252px;
	max-height:252px;
}
li.product {
	float:left;
	margin-right:12px;
	margin-bottom:12px;
	height:420px;
	overflow:hidden;
}
li.product strong.brand{
	font-size: medium;
}
li.product h3{
	font-size: larger;
	font-weight:bold;
}
ul.characters {
	margin:0px;
	padding:0px;
}
ul.characters li{
	display:inline;
	margin-right:6px;
}
ul.characters li:before{
	content:"- ";
}
span.price{
	color:#444;
	font-size:larger;
}
span.original-price{
	color:#ccc;
	font-size:smaller;
	text-decoration:line-through;
}